<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Units</title>
</head>
<body>
<h1>Units</h1>
<a href="/units/add">Add Unit</a>
<br><br>
<table>
    <thead>
    <tr>
        <th>Unit Code</th>
        <th>Unit Name</th>
        <th>Unit Lecturer</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="unit : ${units}">
        <tr>
            <td th:text="${unit.id}"></td>
            <td th:text="${unit.name}"></td>
            <td>
                <a th:href="@{/units/edit/{id}(id=${unit.id})}">Edit</a>
                <a th:href="@{/units/delete/{id}(id=${unit.id})}">Delete</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>
